{% extends 'base.html' %}

{% block title %}All Tasks{% endblock %}

{% block content %}
<h1>All Tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description|safe }}</td>
            <td>{{ task.deadline }}</td>
            <td>{{ task.owner.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
