{% extends 'base.html' %}

{% block title %}Create Task{% endblock %}

{% block content %}
<h1>Create Task</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class="ckeditor form-control") }}
    </div>
    <div class="form-group">
        {{ form.deadline.label }}
        {{ form.deadline(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('description');
</script>
{% endblock %}
