{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password2.label }}
        {{ form.password2(class="form-control") }}
        {% for error in form.password2.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <!-- <p>
        {{ form.role.label }}<br>
        {{ form.role() }}<br>
      </p> -->
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
